---
import Layout from "@/layouts/LayoutD3.astro";
import App from "./app.svelte";
---

<Layout title="d3教程">
  <h1 class="text-center text-lg my-3">纵轴</h1>
  <div class="flex justify-center h-full w-full">
    <App client:load client:only />
  </div>
</Layout>
